@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v11/MwQ5bhbm2POE2V9BOA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}
.pt-6 {
  padding-top: 3.5rem !important;
}
.pb-6 {
  padding-bottom: 3.5rem !important;
}
.pl-6 {
  padding-left: 3.5rem !important;
}
.pr-6 {
  padding-right: 3.5rem !important;
}
.py-6 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}
.px-6 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}
.pt-7 {
  padding-top: 4rem !important;
}
.pb-7 {
  padding-bottom: 4rem !important;
}
.pl-7 {
  padding-left: 4rem !important;
}
.pr-7 {
  padding-right: 4rem !important;
}
.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.px-7 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.pt-8 {
  padding-top: 4.5rem !important;
}
.pb-8 {
  padding-bottom: 4.5rem !important;
}
.pl-8 {
  padding-left: 4.5rem !important;
}
.pr-8 {
  padding-right: 4.5rem !important;
}
.py-8 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.px-8 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
.pt-9 {
  padding-top: 5rem !important;
}
.pb-9 {
  padding-bottom: 5rem !important;
}
.pl-9 {
  padding-left: 5rem !important;
}
.pr-9 {
  padding-right: 5rem !important;
}
.py-9 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.px-9 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.pt-10 {
  padding-top: 5.5rem !important;
}
.pb-10 {
  padding-bottom: 5.5rem !important;
}
.pl-10 {
  padding-left: 5.5rem !important;
}
.pr-10 {
  padding-right: 5.5rem !important;
}
.py-10 {
  padding-top: 5.5rem !important;
  padding-bottom: 5.5rem !important;
}
.px-10 {
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}
.pt-11 {
  padding-top: 6rem !important;
}
.pb-11 {
  padding-bottom: 6rem !important;
}
.pl-11 {
  padding-left: 6rem !important;
}
.pr-11 {
  padding-right: 6rem !important;
}
.py-11 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.px-11 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.pt-12 {
  padding-top: 6.5rem !important;
}
.pb-12 {
  padding-bottom: 6.5rem !important;
}
.pl-12 {
  padding-left: 6.5rem !important;
}
.pr-12 {
  padding-right: 6.5rem !important;
}
.py-12 {
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
}
.px-12 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}
.pt-13 {
  padding-top: 7rem !important;
}
.pb-13 {
  padding-bottom: 7rem !important;
}
.pl-13 {
  padding-left: 7rem !important;
}
.pr-13 {
  padding-right: 7rem !important;
}
.py-13 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}
.px-13 {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}
.pt-14 {
  padding-top: 7.5rem !important;
}
.pb-14 {
  padding-bottom: 7.5rem !important;
}
.pl-14 {
  padding-left: 7.5rem !important;
}
.pr-14 {
  padding-right: 7.5rem !important;
}
.py-14 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}
.px-14 {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}
.pt-15 {
  padding-top: 8rem !important;
}
.pb-15 {
  padding-bottom: 8rem !important;
}
.pl-15 {
  padding-left: 8rem !important;
}
.pr-15 {
  padding-right: 8rem !important;
}
.py-15 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}
.px-15 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}
.clfo-black {
  color: #000;
}
.clfo-green {
  color: #00894f;
}
.clfo-white {
  color: #fcf8f9;
}
.clfo-blue {
  color: #005ea8;
}
.clbg-black {
  background-color: #000;
}
.clbg-green {
  background-color: #00894f;
}
.clbg-white {
  background-color: #fcf8f9;
}
.clbg-blue {
  background-color: #005ea8;
}
.bgimage {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.bgimage.clbg-black:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #000;
  opacity: 0.4;
}
.bgimage.clbg-green:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #00894f;
  opacity: 0.4;
}
.bgimage.clbg-white:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #fcf8f9;
  opacity: 0.4;
}
.bgimage.clbg-blue:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #005ea8;
  opacity: 0.4;
}
.bgimage > * {
  z-index: 50;
  position: relative;
  color: white;
}
.bgimage.default {
  min-height: 440px;
}
@media (min-width: 1200px) {
  .bgimage.default {
    min-height: 555px;
  }
}
.bgimage .bgimageitem {
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.bgimage .bgimageitem.parallax {
  transform: translateY(0);
}
.border-top-green {
  border-top: 3px solid #00894f;
}
.border-bottom-green {
  border-bottom: 3px solid #00894f;
}
h1 {
  font-family: "Bree Serif", serif;
}
h2,
.h2 {
  font-family: "Titillium Web", sans-serif;
}
p {
  font-family: "Titillium Web", sans-serif;
}
main a,
footer a {
  color: #00894f;
}
main a:hover,
footer a:hover,
main a:focus,
footer a:focus {
  color: #00894f;
  text-decoration: underline;
}
main a:active,
footer a:active,
main a:visited,
footer a:visited {
  color: #00894f;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #00894f;
}
.carousel-indicators li {
  background-color: #005ea8;
}
.carousel:focus {
  outline: 0;
}
.accordion .accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
.accordion .accordion-toggle.collapsed:after {
  content: "\f067";
}
.panel {
  border-bottom: 3px solid #00894f;
}
#head .logowrap {
  position: absolute;
  z-index: 999;
  left: 15px;
  top: 0;
}
#head .nav-tabs {
  border: 0;
  text-align: right;
}
@media (min-width: 992px) {
  #head .nav-tabs {
    text-align: left;
  }
}
#head .nav-tabs .menuitm {
  text-align: right;
}
@media (min-width: 992px) {
  #head .nav-tabs .menuitm {
    text-align: left;
  }
}
#head a {
  color: white;
  text-transform: uppercase;
}
#head a:focus,
#head a:active,
#head a:hover {
  color: #00894f;
}
#head .lvl2 a {
  color: #00894f;
  text-transform: uppercase;
  white-space: nowrap;
}
#head .lvl2 a:focus,
#head .lvl2 a:active,
#head .lvl2 a:hover {
  color: #00894f;
}
.head-content > .frame-type-header {
  max-width: 610px;
}
.head-content > .frame-type-header h1 {
  margin-top: 20px;
}
.head-content .bgimage {
  display: -ms-flexbox !important;
  display: flex!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.head-content .bgimage h1,
.head-content .bgimage h2,
.head-content .bgimage h3,
.head-content .bgimage p {
  text-shadow: 1px 1px 3px black;
}
.head-content .bgimage > .container {
  max-width: 610px;
}
.head-content .bgimage > .container h1 {
  margin-top: 20px;
}
main > div:first-child {
  margin-top: 15px;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer a:focus,
footer a:active,
footer a:hover {
  color: #00894f;
}
footer .frame-type-menu_subpages ul {
  list-style: none;
  padding: 0;
}
footer .frame-type-menu_subpages ul li {
  list-style: none;
  padding: 0;
}
footer .frame-type-menu_subpages ul li a {
  color: white;
}
footer .frame-type-menu_subpages ul li a:focus,
footer .frame-type-menu_subpages ul li a:active,
footer .frame-type-menu_subpages ul li a:hover {
  color: #00894f;
}
.navbar-toggler {
  border: 1px solid #00894f;
  background: transparent !important;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler[aria-expanded="false"] .top-bar {
  transform: rotate(0);
}
.navbar-toggler[aria-expanded="false"] .middle-bar {
  opacity: 1;
}
.navbar-toggler[aria-expanded="false"] .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler .icon-bar {
  width: 22px;
  transition: all 0.2s;
  background-color: #00894f;
  height: 3px;
  display: block;
  margin: 4px 0;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg) translateX(4px);
  transform-origin: 27% 0%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg) translateX(3px);
  transform-origin: 14% 10%;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 1.2em;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
/*# sourceMappingURL=custom.css.map */